.login {
    height: 100vh;
    background: url(/assets/login_bg.jpg) no-repeat;
    background-size: 100% 100%;
    .login_box {
        .paddtop;
        .font;
    }
}

.paddtop {
    padding-top: 8%;
}
.font() {
    .login_title {
        text-align: center;
        margin-bottom: 0;
    }
}